<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head"></head>
<body>
<h3>DELETING BLOG</h3>
<p>
    <a th:href="@{/blog}">
        Back to blog list
    </a>
</p>
<div id="form">
    <form action="#" th:action="@{/blog/delete}" th:object="${blog}"
          method="POST" novalidate="novalidate">
        <input type="hidden" th:field="*{id}"/>
        <div>
            <label>BLOG NAME</label>
            <input type="text" th:field="*{blogName}"/>
        </div>
        <div>
            <label>AUTHOR</label>
            <input type="text" th:field="*{author}"/>
        </div>
        <div>
            <label>DESCRIPTION</label>
            <input type="text" th:field="*{blogDescription}"/>
        </div>
        <div>
            <label>CONTENT</label>
            <input type="text" th:field="*{content}"/>
        </div>
        <div>
            <label>CREATE DATE</label>
            <input type="text" th:field="*{createDay}"/>
        </div>
        <input type="submit" value="Remove"/>
    </form>
</div>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>